<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <title>Game Menu</title>
  </head>
  <body>
    <div class="container">
      <div class="main-game_menu">
        <div class="btn btn_secondary disable">
          <p>Reset game</p>
        </div>
        <div class="chatbox_janken-luckycat disable">
          <span class="iconify janken-luckycat" data-icon="fa-solid:hand-paper"></span>
        </div>
        <div class="chatbox active">
          <p>Mari bermain denganku!</p>
        </div>
        <img src="../../assets/Logo.png" alt="" />
        <h1 class="disable">WINNER !</h1>
      </div>
    </div>
    <div class="game_container disable">
      <div class="score">
        <p>00</p>
      </div>
      <div class="divider_gameScore"></div>
      <div class="score">
        <p>00</p>
      </div>
    </div>
    <div class="footer_container">
      <div class="chatbox_janken disable">
        <p>Kamu memilih : <span class="chatbox_contentSpan">Gunting</span></p>
      </div>
      <div class="footer-game_menu">
        <div class="box_janken" id="play">
          <span class="iconify janken" data-icon="fa-solid:hand-paper"></span>
        </div>
        <div class="box_janken" id="play">
          <span class="iconify janken" data-icon="fa-solid:hand-rock"></span>
        </div>
        <div class="box_janken" id="play">
          <span class="iconify janken" data-icon="fa6-solid:hand-scissors"></span>
        </div>
      </div>
    </div>
    <script src="https://code.iconify.design/2/2.2.0/iconify.min.js"></script>
  </body>
</html>
